# Series

- 데이터가 순차적으로 나열된 1차원 배열의 형태

In [2]:
# Dictionary --> Series
# { key : value }

dict_data = {'a':1, 'b':2, 'c':3}
dict_data

{'a': 1, 'b': 2, 'c': 3}

In [4]:
# Series로 변환
import pandas as pd

sr = pd.Series(dict_data)
sr

a    1
b    2
c    3
dtype: int64

In [5]:
sr['a']

1

In [6]:
# List -> Series
list_data = ['2021-12-31', 3.14, 'abc', 100, True]
list_data

['2021-12-31', 3.14, 'abc', 100, True]

In [8]:
type(list_data)

list

In [9]:
sr = pd.Series(list_data)
sr

0    2021-12-31
1          3.14
2           abc
3           100
4          True
dtype: object

In [12]:
# index와 value를 따로 저장
index = sr.index
value = sr.values
print(list(index))
print(value)
print(list(value))

[0, 1, 2, 3, 4]
['2021-12-31' 3.14 'abc' 100 True]
['2021-12-31', 3.14, 'abc', 100, True]

In [13]:
# Tuple -> Series
tuple_data = ('유비','2022-12-31','남자', False)
tuple_data

('유비', '2022-12-31', '남자', False)

In [14]:
sr = pd.Series(tuple_data)
sr

0            유비
1    2022-12-31
2            남자
3         False
dtype: object

In [16]:
# index 이름 변경하기
    # Series를 만들때 정해주는게 편함

sr = pd.Series(tuple_data, index=['이름', '생년월일', '성별', '학생여부'])
sr

이름              유비
생년월일    2022-12-31
성별              남자
학생여부         False
dtype: object

In [18]:
# Series에서 Data 선택하기
print(sr['이름'])
print(sr[0])

유비
유비

In [22]:
# 한 개의 index 선택
print(sr['생년월일'])
# 두 개의 index 선택
print(sr[['생년월일','성별']])
# 세 개의 index 선택
print(sr[['생년월일','성별', '학생여부']])

# 다수 선택 시 []로 감싸준다 : 이유는 Series는 1줄로 되어있는 1차원이기 때문이다.

2022-12-31
생년월일    2022-12-31
성별              남자
dtype: object
생년월일    2022-12-31
성별              남자
학생여부         False
dtype: object

In [25]:
# 범위로 index 선택 : Slicing
print(sr[0:4])
print(sr['이름':'성별'])

이름              유비
생년월일    2022-12-31
성별              남자
학생여부         False
dtype: object
이름              유비
생년월일    2022-12-31
성별              남자
dtype: object

In [27]:
# Series의 연산
student = pd.Series({'국어' : 100, '영어': 80, '수학' : 90})
student

국어    100
영어     80
수학     90
dtype: int64

In [28]:
# 과목의 점수를 200으로 나누기!
student / 200

국어    0.50
영어    0.40
수학    0.45
dtype: float64

In [29]:
student = pd.Series({'국어' : 100, '영어': 80, '수학' : 90})
student1 = pd.Series({'수학' : 80, '국어': 90, '영어' : 80})

In [30]:
# 덧셈
    # 키값에 맞게 연산된다.
addition = student + student1
addition

국어    190
수학    170
영어    160
dtype: int64

In [31]:
# 뺄셈
subtraction = student - student1
# 곱셈
multiplication = student * student1
# 나눗셈
division = student / student1

In [40]:
# 사칙연산 결과를 데이터 프레임으로 만들기
result = pd.DataFrame([addition, subtraction, multiplication, division],
                       index=['덧셈', '뺄셈', '곱셈', '나눗셈'])
result

              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0

# Nan값이 있는 연산

In [44]:
import numpy as np
student1 = pd.Series({'국어': np.nan,'영어':80, '수학': 90})
student2 = pd.Series({'국어': 90, '수학': 80})

In [45]:
# 덧셈
addition = student1 + student2
addition

국어      NaN
수학    170.0
영어      NaN
dtype: float64

In [46]:
addition = student1.add(student2)
addition

국어      NaN
수학    170.0
영어      NaN
dtype: float64

In [47]:
# 뺄셈
subtraction = student1 + student2
subtraction

국어      NaN
수학    170.0
영어      NaN
dtype: float64

In [49]:
subtraction = student1.sub(student2)
subtraction

국어     NaN
수학    10.0
영어     NaN
dtype: float64

In [50]:
# 곱셈
multiplication = student1 * student2
multiplication

국어       NaN
수학    7200.0
영어       NaN
dtype: float64

In [51]:
multiplication = student1.mul(student2)
multiplication

국어       NaN
수학    7200.0
영어       NaN
dtype: float64

In [52]:
division = student1 / student2
division

국어      NaN
수학    1.125
영어      NaN
dtype: float64

In [54]:
division = student1.div(student2)
division

국어      NaN
수학    1.125
영어      NaN
dtype: float64

In [55]:
# 사칙연산 결과를 데이터프레임으로 만들기
result = pd.DataFrame([addition, subtraction, multiplication, division],
                        index=['덧셈', '뺄셈', '곱셈', '나눗셈']
                    )
result

     국어        수학  영어
덧셈  NaN   170.000 NaN
뺄셈  NaN    10.000 NaN
곱셈  NaN  7200.000 NaN
나눗셈 NaN     1.125 NaN

In [56]:
# Nan값을 0으로 처리하기 : fill_value = 0
addition = student1.add(student2, fill_value=0)
subtraction = student1.sub(student2, fill_value=0)
multiplication = student1.mul(student2, fill_value=0)
division = student1.div(student2, fill_value=0)

In [58]:
result = pd.DataFrame([addition, subtraction, multiplication, division],
                        index=['덧셈', '뺄셈', '곱셈', '나눗셈']
                    )
result

       국어        수학    영어
덧셈   90.0   170.000  80.0
뺄셈  -90.0    10.000  80.0
곱셈    0.0  7200.000   0.0
나눗셈   0.0     1.125   inf