In [8]:
var01 = 3
var02 = 4

In [24]:
print('덧셈 : ',var01+var02)
print('뺄셈 : ',var01-var02)
print('곱셈 : ',var01*var02)
print('실수 나눗셈 : ',var01/var02)
print('정수 나눗셈 몫 : ',var01//var02)
print('정수 나눗셈 나눗셈 : ',var01%var02)
print('제곱 : ',var01**2)

덧셈 :  7
뺄셈 :  -1
곱셈 :  12
실수 나눗셈 :  0.75
정수 나눗셈 몫 :  0
정수 나눗셈 나눗셈 :  3
제곱 :  9

In [26]:
print('거듭제곱', var01 ** 2)
print('거듭제곱(파이썬)', pow(var01,2))

거듭제곱 9
거듭제곱(파이썬) 9

### 파이썬 모듈을 이용한 수학계산

In [27]:
import math

In [28]:
# 거듭제곱

math.pow(var01,2)

9.0

In [29]:
# 제곱근

math.sqrt(var01)

1.7320508075688772

In [30]:
# sin 45도

math.sin(45)

0.8509035245341184

In [35]:
# sin45^2 + cos45^2

math.pow(math.sin(45),2) + math.pow(math.cos(45),2)

1.0

### 난수 발생

In [36]:
# 난수발생 모듈 불러오기
import random

In [86]:
# 1~100중 난수 1개 발생
random.randint(1, 100)

55

In [87]:
# range함수
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [93]:
lotto_list = range(1, 46)
random.sample(lotto_list,6)

[27, 2, 43, 25, 11, 3]

In [94]:
# 반올림

print(round(123.45, 1))
print(round(123.456, 2))

123.5
123.46

In [95]:
# 올림

print(math.ceil(1.1))
print(math.ceil(1.9))

2
2

In [97]:
# 내림

print(math.floor(1.1))
print(math.floor(1.9))

1
1

In [98]:
# 메모리에 있는 변수 보기

dir()

['In',
 'Out',
 '_',
 '_28',
 '_29',
 '_30',
 '_31',
 '_32',
 '_33',
 '_34',
 '_35',
 '_37',
 '_38',
 '_39',
 '_40',
 '_41',
 '_42',
 '_43',
 '_44',
 '_45',
 '_46',
 '_47',
 '_48',
 '_49',
 '_50',
 '_51',
 '_52',
 '_53',
 '_54',
 '_55',
 '_56',
 '_57',
 '_58',
 '_59',
 '_60',
 '_61',
 '_62',
 '_63',
 '_64',
 '_65',
 '_66',
 '_67',
 '_68',
 '_69',
 '_70',
 '_71',
 '_72',
 '_73',
 '_74',
 '_75',
 '_76',
 '_77',
 '_78',
 '_79',
 '_80',
 '_81',
 '_82',
 '_83',
 '_84',
 '_85',
 '_86',
 '_87',
 '_89',
 '_90',
 '_91',
 '_92',
 '_93',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i76',
 '_i77',
 '_i78',
 '_i79',
 '_i8',
 '_i80',
 '_i81',
 '_i82',
 '_i83',
 '_i84',
 '_i85',
 '_i86',
 '_i87',
 '_i88',
 '_i89',
 '_i9',
 '_i90',
 '_i91',
 '_i92',
 '_i93',
 '_i94',
 '_i95',
 '_i96',
 '_i97',
 '_i98',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'lotto_list',
 'math',
 'os',
 'quit',
 'random',
 'sys',
 'var01',
 'var02']

In [99]:
var01

3

In [100]:
# 메모리에 있는 변수 제거

del var01

In [102]:
# 위에서 메모리에 있는 var01을 지웠기 때문에 에러가 뜸
var01

NameError: name 'var01' is not defined

### 관계연산자

In [104]:
num1 = 100
num2 = 20

In [106]:
print(num1 == num2)
print(num1 != num2)
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)

False
True
True
False
True
False

### 논리연산자

In [109]:
print((num1 >= 50) & (num2 <= 10))
print((num1 >= 50) | (num2 <= 10))
print((num1 >= 50) and (num2 <= 10))
print((num1 >= 50) or (num2 <= 10))

False
True
False
True

### 부정 연산자

In [111]:
not(num1 >= 50)

False

In [112]:
# OS 명령어 사용
!ls

01.Preview.ipynb              02. 변수와 자료형.ipynb

In [114]:
# 문자열

var01 = '"Hello world!"'
var01

'"Hello world!"'

In [115]:
var01 = """
    Hello world1
    12345
    대한민국
"""

In [116]:
#여러개의 글씨를 만들때는 """ """
print(var01)

    Hello world1
    12345
    대한민국

In [117]:
# 쌍따옴표와 홀따옴표의 사용
var01 = "My father's wife is my mother."
var02 = 'He says "I love you"'

print(var01)
print(var02)

My father's wife is my mother.
He says "I love you"

In [120]:
# 문자열 연산(덧셈)

var01 = "Python"
var02 = "is fun."

print(var01 + var02)
print(var01, var02)

Pythonis fun.
Python is fun.

In [121]:
# 문자열 연산(곱셈)

print(var01 * 3)

PythonPythonPython

In [122]:
print("="*20)
print('Python')
print("="*20)

====================
Python
====================

In [129]:
# 문자열 indexing과 Slicing

str = 'abcdefghijklmn'

# 파이썬 문자열은 시작은 0부터 / R만 1으로 시작함

print(str[0])
print(str[0:3])
print(str[-1])
print(str[5:])
print(str[:5])
print(str[0]+str[1]+str[2])
print(str[5:-2])

a
abc
n
fghijklmn
abcde
abc
fghijkl

In [146]:
str = "20221229Snow"
year = str[0:4]
day = str[4:8]
weather = str[-4:]
print(year)
print(day)
print(weather)
print(year, day, weather)

2022
1229
Snow
2022 1229 Snow

In [160]:
str = "abbde"
type(str)
# abcde로 바꾸자

str[:2]

'ab'

In [156]:
str[-2:]

'de'

In [158]:
print(str[:2] + 'c' + str[-2:])

abcde

### 문자열 formatting

In [163]:
print("I have %d apples"%2)

I have 2 apples

In [165]:
print("I have %s apples."%"two")

I have two apples.

In [167]:
number = 2
fruit = "apples"
print("I have %d %s."%(number, fruit))
print("I have %02d %s."%(number, fruit))

I have 2 apples.
I have 02 apples.

In [170]:
# 문자열 정렬
    # 앞에 빈칸, 뒤에 빈칸으로 채우기
print("I have 2 %10s."%"apples")
print("I have 2 %-10s."%"apples")

I have 2     apples.
I have 2 apples    .

In [172]:
print("%0.4f"%3.14159)
print("%10.4f"%3.14159)

3.1416
    3.1416

### 문자열 관련 함수

In [175]:
# 문자 Count
str = "I have a dream."
print(str.count('a'))
# 문자 총 길이 찾기 -> len() / space bar(띄어쓰기)도 마찬가지로 문자로 취급
print(len(str))

3
15

In [182]:
# 문자 위치 알려주기
print(str.find('e'))

5

In [178]:
# 없는 문자를 찾으면 -1로 나옴
print(str.find('x'))

-1

In [184]:
# 문자열 삽입
str = ","
str.join('abcde')

'a,b,c,d,e'

In [187]:
# 소문자를 대문자로
str = 'hi'
str.upper()

'HI'

In [188]:
# 대문자를 소문자로
str = 'Hi'
str.lower()

'hi'

In [192]:
# 공백지우기 -> 크롤링할때 많이 사용함

str = '      hi'
str.lstrip()

'hi'

In [193]:
str = 'hi      '
str.rstrip()

'hi'

In [194]:
str = '    hi   '
str.strip()

'hi'

In [196]:
# 문자열 바꾸기 -> replace()

str = 'Life is too short to be happy.'
str.replace('happy', 'unhappy')

'Life is too short to be unhappy.'

In [200]:
# 문자열 나누기 -> split()
    # 공백을 기준으로 나눔

str01 = "Life is too short to be happy."
list01 = str01.split()
type(list01)
list01

['Life', 'is', 'too', 'short', 'to', 'be', 'happy.']

In [202]:
len(list01)

7

In [205]:
# 문자열 나누기 -> split()
    # : 을 기준으로 나눔

str02 = 'a:b:c:d'
str02.split(':')

['a', 'b', 'c', 'd']

### 고급 문자열 Formatting

In [206]:
# 숫자 바로 대입하기
"I have {0} apples.".format(3)

'I have 3 apples.'

In [207]:
"I have {0} apples.".format("three")

'I have three apples.'

In [208]:
number = 10
day = 'three'
"I have {0} apples, I will go abord for {1} days.".format(number, day)

'I have 10 apples, I will go abord for three days.'

In [209]:
# 왼쪽 정렬
'{0:<10}'.format("hi")

'hi        '

In [210]:
# 오른쪽 정렬
'{0:>10}'.format("hi")

'        hi'

In [211]:
# 가운데 정렬
'{0:^10}'.format("hi")

'    hi    '

In [213]:
# 공백 채우기
'{0:=^10}'.format("hi")

'====hi===='

In [216]:
'{0:-^10}'.format("hi")

'----hi----'

In [218]:
# f문자열 formatting(Python 3.6이상)
name = "홍길동"
age = 30
f'나의 이름은 {name}이고 나이는 {age}세 입니다.'

'나의 이름은 홍길동이고 나이는 30세 입니다.'

In [219]:
f'나는 내년이면 {age+1}살 입니다.'

'나는 내년이면 31살 입니다.'

### 날짜형 변환

In [220]:
# 날짜형 모듈 불러오기
from datetime import datetime, timedelta

In [224]:
time1 = datetime(2022, 12, 25, 21, 0, 0, 0)
print(time1)

2022-12-25 21:00:00

In [225]:
# 날짜 계산하기

time2 = datetime.now()
print(time2)
print(time1 - time2)

2022-06-22 16:14:03.340841
186 days, 4:45:56.659159

In [228]:
# 좀 더 편리하게 출력
print((time1 - time2).days, '일')
    # time1과 time2의 시간끼리의 초 계산
print((time1 - time2).seconds, '초')

186 일
17156 초

In [231]:
# 시간으로 확인하기

(time1 - time2).days * 24 + math.floor((time1 - time2).seconds / 60 / 60)

4468

In [233]:
# 특정 날짜로부터 시간 계산
    # 5일 후
time2 + timedelta(days=5)

datetime.datetime(2022, 6, 27, 16, 14, 3, 340841)

In [234]:
# 3일 전
time2 + timedelta(days=-3)

datetime.datetime(2022, 6, 19, 16, 14, 3, 340841)

In [235]:
# 1일 뒤 2시간 전 구하기
print(time2 + timedelta(days=1, hours= -2))

2022-06-23 14:14:03.340841