In [1]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [3]:
list(range(10,0,-2))

[10, 8, 6, 4, 2]

In [4]:
list(range(0,10,-2))

[]

In [5]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
# 1에서 10까지의 제곱근을 출력하기
import math

for i in range(1,11):
    sqrt = math.sqrt(i)
    print("%i : %0.8f"%(i,sqrt))

1 : 1.00000000
2 : 1.41421356
3 : 1.73205081
4 : 2.00000000
5 : 2.23606798
6 : 2.44948974
7 : 2.64575131
8 : 2.82842712
9 : 3.00000000
10 : 3.16227766

In [11]:
# 구구단 9단 출력

i = 9
for j in range(1, 10):
    print(i, "X", j,"=",i*j)

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [17]:
# 구구단 결과만 출력하기

for i in range(2, 10):
    print(i,"단")
    for j in range(1, 10):
        print("%2d"%(i*j), end=' ')
    print()

2 단
 2  4  6  8 10 12 14 16 18
3 단
 3  6  9 12 15 18 21 24 27
4 단
 4  8 12 16 20 24 28 32 36
5 단
 5 10 15 20 25 30 35 40 45
6 단
 6 12 18 24 30 36 42 48 54
7 단
 7 14 21 28 35 42 49 56 63
8 단
 8 16 24 32 40 48 56 64 72
9 단
 9 18 27 36 45 54 63 72 81

In [20]:
# for문에 Tuple 사용하기
var = [(1,2),(3,4),(5,6)]

for first, last in var:
    print("(",first,":",last,")")

( 1 : 2 )
( 3 : 4 )
( 5 : 6 )

총 5명의 학생이 시험을 보았는데, 시험점수가 60점을 넘으면 합격이고
그렇지 않으면 불합격이다.
합격, 불합격 보여주기

In [31]:
scores = [90, 25, 67, 45, 80]
result = ''
for number in range(len(scores)):
        result = "합격" if scores[number]>=60 else "불합격"
        print("%d번째 학생은 %s입니다."%(number+1,result))

1번째 학생은 합격입니다.
2번째 학생은 불합격입니다.
3번째 학생은 합격입니다.
4번째 학생은 불합격입니다.
5번째 학생은 합격입니다.

In [25]:
list(range(len(scores)))

[0, 1, 2, 3, 4]

In [33]:
scores = [90, 25, 67, 45, 80]
number = 0

for score in scores:
    number += 1

    # sol 1 )
    # if score >= 60:
    #     print("%d의 학생은 %s입니다."%(number,'합격'))
    # else:
    #     print("%d의 학생은 %s입니다."%(number,'불합격'))
    
    
    # sol 2 )
    print("%d의 학생은 %s입니다."%(number,'합격')) if score >= 60 else print("%d의 학생은 %s입니다."%(number,'불합격'))

1의 학생은 합격입니다.
2의 학생은 불합격입니다.
3의 학생은 합격입니다.
4의 학생은 불합격입니다.
5의 학생은 합격입니다.

학생들 점수의 평균을 구하여 평균점수보다 낮으면 불합격
평균점수보다 같거나 높으면 합격을 위의 출력과 같이 보여주기

In [40]:
scores = [90, 25, 67, 45, 80]
number = 0
import numpy as np

print("학급의 평균 점수는 %0.2f입니다."%np.mean(scores))
print()
for score in scores:
    number += 1
    if score >= np.mean(scores):
        print("%d의 학생은 점수가 %d이므로 %s입니다."%(number,score,'합격'))
    else:
        print("%d의 학생은 점수가 %d이어서 %s입니다."%(number,score,'불합격'))

학급의 평균 점수는 61.40입니다.

1의 학생은 점수가 90이므로 합격입니다.
2의 학생은 점수가 25이어서 불합격입니다.
3의 학생은 점수가 67이므로 합격입니다.
4의 학생은 점수가 45이어서 불합격입니다.
5의 학생은 점수가 80이므로 합격입니다.

In [41]:
scores = [90, 25, 67, 45, 80]
number = 0

for score in scores:
    number += 1
    if score >= np.mean(scores):
        print("%d의 학생은 %s입니다."%(number,'합격'))

1의 학생은 합격입니다.
3의 학생은 합격입니다.
5의 학생은 합격입니다.

In [67]:
scores = [90, 25, 67, 45, 80]
number = 0
result_pass = []   

print("합격자 번호")
print("--------")
for score in scores:
    number += 1
    if score >= np.mean(scores):
        result_pass.append(number)

for number in result_pass:
    print('{0:^10}'.format(number))

합격자 번호
--------
    1
    3
    5

---
# 문장과 단어 추출

In [69]:
string = """나는 홍길동 입니다.
주소는 서울시 입니다.
나이는 35세 입니다."""

In [70]:
string

'나는 홍길동 입니다.\n주소는 서울시 입니다.\n나이는 35세 입니다.'

In [74]:
sents = [] # 문장 저장
words = [] # 단어 저장

# 1. 문단 -> 문장으로 만들기
for sen in string.split("\n"):
    sents.append(sen)
# 2. 문장 -> 단어으로 만들기
    for word in sen.split():
        words.append(word)

print(sents)
print(words)

['나는 홍길동 입니다.', '주소는 서울시 입니다.', '나이는 35세 입니다.']
['나는', '홍길동', '입니다.', '주소는', '서울시', '입니다.', '나이는', '35세', '입니다.']

In [77]:
var01 = [1, 2, 3, 4]
var02 = []

# var02에 var01의 인덱스 번호에 각각 5를 곱하여 출력하기
    # 제대로 곱해지지 않았다.
var01 * 5

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [78]:
# for문으로 해보자
for i in var01:
    var02.append(i*5)
var02

[5, 10, 15, 20]

### 파이썬의 listed for문

In [79]:
var01 = [1, 2, 3, 4]
var02 = [i * 5 for i in var01]
var02

[5, 10, 15, 20]

In [81]:
# var01의 데이터가 짝수 인 경우에만 5를 곱하여 var02 list 만들기

var01 = [1, 2, 3, 4]
var02 = [(i * 5 if i%2==0 else i) for i in var01]
var02

[1, 10, 3, 20]

In [92]:
# 구구단 결과만 리스트로 만들기
dan = list(range(1,10))

for i in range(2,10):
    gugudan = [i * j for j in range(1,10)]
    print(i,"단 :",gugudan)

2 단 : [2, 4, 6, 8, 10, 12, 14, 16, 18]
3 단 : [3, 6, 9, 12, 15, 18, 21, 24, 27]
4 단 : [4, 8, 12, 16, 20, 24, 28, 32, 36]
5 단 : [5, 10, 15, 20, 25, 30, 35, 40, 45]
6 단 : [6, 12, 18, 24, 30, 36, 42, 48, 54]
7 단 : [7, 14, 21, 28, 35, 42, 49, 56, 63]
8 단 : [8, 16, 24, 32, 40, 48, 56, 64, 72]
9 단 : [9, 18, 27, 36, 45, 54, 63, 72, 81]

In [99]:
# 60점 이상의 학생 점수만 List로 만들어서 평균 출력하기 (listed for문 사용)
import numpy as np
scores = [90, 25, 67, 45, 80]
# if scores >= np.mean(scores)
list = [i for i in scores if i >= 60]
list
print("합격한 학생들의 평균 점수는 %0.2f입니다."%np.mean(list))

합격한 학생들의 평균 점수는 79.00입니다.